#<!QuickFox>#
DirectoryIndex index.php index.html index.htm

<IfModule mod_rewrite.c>
 RewriteEngine on

 RewriteBase /

 #RewriteRule ^[^/\.]+$ $0/ [R,L] #adding slashes

 RewriteCond $1 !^(static|stuff)$
 RewriteRule ^([^/\.]+)(\.html?|/(.*)|)$ index.php [L,QSA] #normal usage
</IfModule>

<IfModule mod_php5.c>
 php_value post_max_size 256M
 php_value upload_max_filesize 128M
</IfModule>
#</QuickFox>#
