<?php /*

db.dataSource.host => localhost
db.dataSource.dbname => dev.simpleone
db.username => developer
db.password => 
db.prefix => qfso_

site.name => SimpleOne site
site.indexPath => index
site.language => ru

markup.responsive => 1
#markup.customCss => static/css/custom.css
#markup.favicon => favicon.ico
#markup.hideDefaultFooter => 1

plugins.VK => 1
#plugins.Google.analytics.accountId => UA-XXXXXXXX-X
#plugins.Google.analytics.sampleRate => 100
#plugins.Google.analytics.sessionCookieTimeout => 1800000
#plugins.Google.analytics.visitorCookieTimeout => 63072000000
#plugins.Google.analytics.siteSpeedSampleRate => 1

# widgets
# don't remove navigator widget if you have no other navigation
widgets.navigator.class => Navigator
widgets.navigator.block => sidebar

# tag cloud
widgets.tags.class => TagCloud
widgets.tags.block => sidebar
#widgets.tags.limit => 5

# navbar
#widgets.navbar.class => Navbar
#widgets.navbar.block => head
#widgets.navbar.brand => SimpleOne
#widgets.navbar.fixed => bottom
#widgets.navbar.links.data => foo bar
#widgets.navbar.links.a.href => data/tag/tag
#widgets.navbar.links.a.caption => #tag

# sample static login page
#staticRoutes.login.class => LoginPage
#staticRoutes.login.caption => Login
#staticRoutes.login.registerAllowed => 1

# sample static constructor page
#staticRoutes.constructor.class => Constructor
#staticRoutes.constructor.caption => Constructor
#staticRoutes.constructor.accessLevel => 6

staticRoutes.uploader.class => ElFinderConnector
staticRoutes.uploader.accessLevel => 1
# SOneFileSystem is a default driver
#staticRoutes.uploader.roots.0.driver      => SOneFileSystem
staticRoutes.uploader.roots.0.alias       => Uploads
staticRoutes.uploader.roots.0.path        => {F_SITE_ROOT}/static/files/
staticRoutes.uploader.roots.0.startPath   => {F_SITE_ROOT}/static/files/
staticRoutes.uploader.roots.0.URL         => /static/files/
staticRoutes.uploader.roots.0.uploadAllow => image,application/x-shockwave-flash,video,audio
staticRoutes.uploader.roots.0.uploadOrder => allow,deny
#staticRoutes.uploader.maxImageWidth  => 600
#staticRoutes.uploader.maxImageHeight => 500
#staticRoutes.uploader.watermarkFont  => {F_DATA_ROOT}/font.otf
#staticRoutes.uploader.watermarkText => Hi there!
#staticRoutes.uploader.watermarkSize => 20

plugins.ElFinder.connectorUrl => uploader

# sample access controlled uploads
# this is for elfinder - replase corresponding lines above
staticRoutes.uploader.roots.0.path        => {F_DATA_ROOT}/uploads/
staticRoutes.uploader.roots.0.startPath   => {F_DATA_ROOT}/uploads/
staticRoutes.uploader.roots.0.URL         => /uploads/

staticRoutes.uploads.class => FileIndex
staticRoutes.uploads.caption => Uploaded Files
staticRoutes.uploads.basePath => {F_DATA_ROOT}/uploads/
staticRoutes.uploads.disposition => inline
staticRoutes.uploads.xAccelLocation => /_uploads/

vk.appId => 100
vk.appSecret => XxxX
vk.baseDomain => simple.one

#staticRoutes.sitemap.class => SiteMap

# RSS Export plugin
#plugins.RSSExport => 1
#staticRoutes.rss.class => BlogRSS
#staticRoutes.rss.blogPath => data
#staticRoutes.rss.imageUrl => data.png
#staticRoutes.rss.authKey => simplerss

# Google news sitemap
#staticRoutes.news_sitemap.class => GoogleNewsSiteMap
#staticRoutes.news_sitemap.blogPath => data
#staticRoutes.news_sitemap.limit => 50

*/
