<?php /*

db.dataSource.host => localhost
db.dataSource.dbname => dev.simpleone
db.username => developer
db.password => 
db.prefix => qfso_

site.name => SimpleOne site
site.indexPath => index

vk.appId => 100
vk.appSecret => XxxX
vk.baseDomain => simple.one

*/
